* {
  justify-content: center;
}

ul.errors {
  padding: 0;
}

ul.errors li {
  display: block;
  padding: 5px 10px;
  background: #fad7d7;
}

input.like-btn {
  border: none;
  background: #ff2b2b;
  font-weight: bold;
  color: #fff;
  padding: 3px 5px;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.action-butons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block: 5px;
}

button,
.btn {
  color: #fff;
  display: inline-block;
  background: cornflowerblue;
  font-weight: bold;
  text-decoration: inherit;
  padding: 2px 5px;
}

button:hover,
.btn:hover {
  background: lavender;
}

header.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-card .user {
  font-weight: bold;
  width: 100px;
}

.comment-card {
  display: flex;
  gap: 8px;
}

.comment-card > .comment {
  flex: 1 1 auto;
}

.comment-card .comment {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-self: stretch;
}

span.foot-note {
  display: block;
  text-align: right;
}

.box {
  background: aliceblue;
  margin-block: 5px;
  padding: 5px;
}

section.comment-list.box { margin-block-end: 24px; }

article.user-card {
  display: flex;
  padding: 10px;
  gap: 10px;
}

article.user-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  background: aliceblue;
  padding: 10px;
}

article.user-card > div > span {
  text-align: right;
}

article.user-card .user-image {
  object-fit: cover;
  transform-origin: center;
  width: 100px;
  height: 100px;
}

a.contextual-link {
  color: inherit;
  text-decoration: inherit;
}

a.contextual-link:hover {
  color: inherit;
  filter: contrast(0.8) brightness(1.2);
}
