<div class="comment-card">
    <div class="user"><%= comment.author.name %></div>
    <div class="comment"><%= comment.text %></div>
    <div class="comment-actions">
        <% if can? :delete, comment %>
            <%= form_with url: delete_comment_path(comment), method: :delete do |form| %>
                <%= form.submit "Delete", data: { confirm: "Are you sure You want to delete this comment?" } %>
            <% end %>
        <% end %>
    </div>
</div>