<article class="post-card box">
    <a href="<%= show_post_path(post.author_id, post) %>"  class="contextual-link">
        <h2>
            <%= post.title %>
        </h2>
        <p><%= post.text.truncate(200) %></p>
    </a>
    <span class="foot-note">
        <%= render partial: "like_button", locals: { post: post } %>
    </span>
</article>
